HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/taxi-mask-backend/src/main/**/target/
!**/taxi-mask-backend/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/taxi-mask-backend/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

taxi-mask-android/build/
